<!-- (set-default-font "-outline-MS Gothic-normal-normal-normal-mono-*-*-*-*-c-*-iso8859-1") -->


<span style="font-family: KaiTi; padding-left:110px; font-size: 45px;">コース料理</span>
<br /><br /><br />

<table id="courseTABLE" style="padding-left: 10px; font-size: 20px">
  <tr ><th id="courseHEAD">2500円コース</th> <th id="courseHEAD">3500円コース</th></tr>
  <tr style="height:20px;"><td></td>                 <td></td></tr>
  <tr><td>キムチ盛り合わせ</td> <td>キムチ盛り合わせ</td></tr>
  <tr><td>ナムル盛り合わせ</td> <td>ナムル盛り合わせ</td></tr>
  <tr><td>タコサラダ</td>       <td>タコサラダ</td></tr>

  <tr><td>ひまわり玉子</td>     <td>ひまわり玉子</td></tr>
  <tr><td>海鮮チヂミ</td>       <td>海鮮チヂミ</td></tr>
  <tr><td>チャプチェ</td>       <td>チャプチェ</td></tr>
  <tr><td>石焼ビビンバ</td>     <td>韓国ノリ</td></tr>

  <tr><td>鍋</td>               <td>トッポッキ</td></tr>
  <tr><td>   </td>              <td>黒豚ブルカルビ</td></tr>
  <tr><td>   </td>              <td>鍋</td></tr>


</table>

<br /><br /><br /><br /><br />

<blockquote style="font-family:KaiTi; font-size:17px;">
  ★鍋のみ変更可能です <br />
  ★コース料理は４名様から承ります <br />
  ★1500円 90分飲み放題【瓶ビール・酎ハイ・日本酒・ソフトドリンク】もご用意しております <br />
  ★その他、辛さ調節などお気軽にご相談ください <br />
</blockquote>
