<span style="font-family: KaiTi; padding-left:110px; font-size: 45px;">一品料理 일품요리</span>
<table style="font-family: KaiTi; padding-left:10px; font-size: 20px;">
  <tr><th></th>    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>  <th></th></tr> <!-- Platillo y precio -->
  <tr><td>ニンニク揚げ 마늘튀김    </td>    <td></td>  <td>              &nbsp;500円</td></tr>
  <tr><td>焼きギョウザ 군만두        </td>    <td></td>  <td>          &nbsp;400円</td></tr>
  <tr><td>キムチギョウザ 김치만두 </td>    <td></td>  <td>                 &nbsp;600円</td></tr>
  <tr><td>水餃子 물만두              </td>    <td></td>  <td>       &nbsp;400円</td></tr>
  <tr><td>春巻き 하루마키        </td>    <td></td>  <td>           &nbsp;400円</td></tr>
  <tr><td>すじ炒め 스지볶음     </td>    <td></td>  <td>           1000円</td></tr>
  <tr><td>韓国 豚足 한국족발  </td>    <td></td>  <td>1800円</td></tr>
  <tr><td>韓国ノリ 한국김             </td>    <td></td>  <td>        &nbsp;300円</td></tr>
  <tr><td>ゴマの葉 깻잎               </td>    <td></td>  <td>      &nbsp;500円</td></tr>
  <tr><td>チャンジャ 창자              </td>    <td></td>  <td>       &nbsp;550円</td></tr>
  <tr><td>イカ 오징어젖                </td>    <td></td>  <td>        &nbsp;500円</td></tr>
  <tr><td>サワガニ 참게              </td>    <td></td>  <td>       &nbsp;550円</td></tr>
  <tr><td>ピリ辛スルメ 오징어채    </td>    <td></td>  <td>              &nbsp;550円</td></tr>
  <tr><td>コーンバター 콘빠다       </td>    <td></td>  <td>             &nbsp;400円</td></tr>
  <tr><td>コーンチーズ 콘치즈 </td>    <td></td>  <td>                          &nbsp;400円</td></tr>
</table>
