<span style="font-family: KaiTi; padding-left:110px; font-size: 45px;"前菜</span>
<table style="font-family: KaiTi; padding-left:10px; font-size: 20px;">
  <tr><th></th>    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>  <th></th></tr> <!-- Platillo y precio -->

  <tr><td>■刺身</td>    <td></td>  <td></td></tr>
  <tr><td>和牛ユッケ 육회</td>    <td></td>  <td>980円</td></tr>
  <tr><td>特選牛レバー刺身 생간             </td>    <td></td>  <td>    980円</td></tr>
  <tr><td>新鮮ぜんまい刺身 천엽               </td>    <td></td>  <td> 780円</td></tr>
  <tr><td>刺身盛り(ユッケ・レバー・ぜんまい) </td>    <td></td>  <td>              2500円</td></tr>
  <tr><td>&nbsp;&nbsp;  </td>    <td></td>  <td>&nbsp;&nbsp;  </td></tr> <!-- spacer -->

  <tr><td>■キムチ 김치</td>    <td></td>  <td></td></tr>
  <tr><td>ボッサムキムチ 보쌈김치          </td>    <td></td>  <td>        550円</td></tr>
  <tr><td>キュウリキムチ 오이김치         </td>    <td></td>  <td>         450円</td></tr>
  <tr><td>大根キムチ 깎두기              </td>    <td></td>  <td>      450円</td></tr>
  <tr><td>らっきょうキムチ 락교김치      </td>    <td></td>  <td>           450円</td></tr>
  <tr><td>キムチ盛り合わせ(ボッサム・キュウリ・大根)김치모리   </td>    <td></td>  <td>900円</td></tr>
  
  <tr><td>&nbsp;&nbsp;  </td>    <td></td>  <td>&nbsp;&nbsp;  </td></tr> <!-- spacer -->
  <tr><td>■サラダ 사라다</td>    <td></td>  <td></td></tr>
  <tr><td>ネギサラダ 파절이       .     </td>    <td></td>  <td>        580円</td></tr>
  <tr><td>チョレギサラダ 조레기사라다     </td>    <td></td>  <td>             580円</td></tr>
  <tr><td>タコサラダ 문어사라다                    </td>    <td></td>  <td>350円</td></tr>
  <tr><td>ひまわり玉子 해바라기사라다                   </td>    <td></td>  <td>780円</td></tr>

  <tr><td>&nbsp;&nbsp;  </td>    <td></td>  <td>&nbsp;&nbsp;  </td></tr> <!-- spacer -->
  <tr><td>■ナムル</td>    <td></td>  <td></td></tr>
  <tr><td>豆もやし 콩나물     </td>    <td></td>  <td>350円</td></tr>
  <tr><td>ホウレン草     </td>    <td></td>  <td>             350円</td></tr>
  <tr><td>ぜんまい 고비                    </td>    <td></td>  <td>350円</td></tr>
  <tr><td>ナムル盛り合わせ(豆もやし・ほうれん草・ぜんまい)나물모리</td>    <td></td>  <td>800円</td></tr>

</table>
